* {
  box-sizing: border-box;
}

:root {
  ---primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */

a {
  text-decoration: none;
}
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(---primary-color);
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

.btn:hover {
  opacity: 0.9;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 2);
  -webkit-box-ordinal: vertical;
  overflow: hidden;
}

/* Header */
.header {
  background-color: #e6f0ff;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  color: var(---primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 50.3%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.018rem;
}
.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.19; /* 118.75% */
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
}

.hero-cta {
  margin-top: 40px;
  min-width: 170px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* Clients */
.clients {
  margin-top: 79px;
  padding: 43px 0 64px;
  /* background-color: orange; */
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clients .images a {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 42px;
  border-radius: 12px;
}

/* Guides */
.guides {
  margin-top: 40px;
  padding: 93px 0 79px;
  /* background-color: orange; */
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.guides .sub-title::before {
  position: absolute;
  content: "";
  border-radius: 12px;
  background: #000339;
  width: 41px;
  height: 4px;
  margin-top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  /* top: 20px, left, right: center, bottom: 0px */
  margin: 20px auto 0;
  width: 459px;
  /* Avoid horizontal scroll when the width < 459px */
  max-width: 100%;
}

.list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  /* gap: 140px; */
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}
.guide-item .title {
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1; /* 110% */
  margin-top: 26px;
}

.guide-item .link {
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
}

.guide-item .arrow-right {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* Featured Properties */
.featured {
  margin-top: 41px;
  padding: 110px 0;
  background: #f5fafe;
  /* background-color: orange; */
}

.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  line-height: 1; /* 100% */
  /* padding-top: 110px; */
}

.featured .row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

.featured .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  margin: 17px 20px 24px;
}

.featured .item .title a {
  font-weight: 600;
  font-size: 2rem;
  color: #000339;
  line-height: 1.5;
}

.featured .item .desc {
  --line-clamp: 3;
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  /* to break the line
  when the content reaches the width'size */
  word-break: break-all;
}

.featured .item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.featured .item .label {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.14px;
}

/* stats */
.stats {
  margin-top: 75px;
  padding: 50px 0 50px;
  /* background-color: orange; */
}

.stats .content {
  width: 1017px;
}

.stats .row {
  display: flex;
}

.stats .img-block,
.stats .info {
  position: relative;
  width: 50%;
}
.stats .info {
  padding: 79px 0 0 165px;
}

.stats .sub-title {
  position: relative;
  color: #000339;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.29; /* 128.571% */
  width: 269px;
}

.stats .sub-title::before {
  position: absolute;
  content: "";
  display: block;
  width: 41px;
  height: 4px;
  border-radius: 12px;
  background: #000339;
  margin-top: -10px;
  left: 0;
}

.stats .info .desc {
  margin-top: 20px;
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.89; /* 187.5% */
  width: 309px;
}

.stats .img-block .image {
  width: 400px;
  height: 460px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  margin-left: auto;
}

/* Trend */
.stats .stats-trend {
  position: absolute;
  top: 0;
  left: 0;
  width: 239px;
  padding: 45px 22px 40px;
  border-radius: 0px 0px 12px 12px;
  background: #fff;
}

.stats .stats-trend .value {
  color: #000339;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.26px;
  color: #000339;
}

.stats .stats-trend .row .icon {
  margin-left: auto;
}

.stats .stats-trend .row {
  display: flex;
}

.stats .stats-trend .desc {
  margin-top: 8px;
  color: #a7a7a7;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.stats .stats-trend .separate {
  margin-top: 25px;
  height: 1.2px;
  background: #e9e9e9;
}

.stats .stats-trend .avatar-block {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 14px;
  margin-top: 26px;
}

.stats .img-block .avatar-group {
  display: flex;
}

.stats .avatar {
  width: 16.337px;
  height: 16.337px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: -3px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1f3bb1;
  color: #fff;
  font-family: Circular Std;
  font-size: 0.7rem;
  font-weight: 450;
}

.stats .avatar:first-child {
  margin-left: 0;
}

.stats .row-qty {
  margin-top: 110px;
  justify-content: space-between;
}

.stats .qty {
  color: #000;
  font-size: 6.4rem;
  font-weight: 600;
  padding: 0 32px;
}

.stats .qty-desc {
  margin-top: 22px;
  color: #7b8087;
  font-size: 1.8rem;
  font-weight: 500;
}

.subscription {
  margin-top: 90px;
}

.subscription .body {
  display: flex;
  position: relative;
  align-items: center;
  width: 1110px;
  height: 370px;
  border-radius: 20px;
  background: #063183;
}

.subscription .info {
  padding: 0 80px;
  width: 671px;
}

.subscription .sub-title {
  color: #fff;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1.5;
}

.subscription .desc {
  margin-top: 15px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88;
  opacity: 0.75;
}

.subscription .btn {
  min-width: 151px;
  margin-top: 20px;
  background: #fff;
  color: #002366;
}

.subscription .image {
  position: absolute;
  bottom: 0;
  right: 221px;
}

/* Footer */
.footer {
  margin-top: 55px;
  padding: 50px 0 58px;
}
.footer .row {
  display: flex;
}

.footer .row-top {
  gap: 185px;
}

.footer .heading {
  color: #1c1c1d;
  font-family: Lato, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.footer .list,
.desc {
  margin-top: 42px;
}

.footer .item {
  margin-top: 18px;
}

.footer .item a,
.footer .desc {
  color: #7a7a7e;
  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}

.footer .desc {
  white-space: normal;
  line-height: 1.75; /* 175% */
}

.footer .social {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.footer .social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 3px;
}

.footer .social-link + .social-link {
  margin-left: 16px;
}

.footer .social-link:hover {
  opacity: 0.5;
}

.footer .row-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
}

.footer .copyright {
  color: #c2c2c2;
  font-size: 1.4rem;
  font-weight: 400;
}
