* {
  box-sizing: border-box;
}

:root {
  ---primary-color: #0f1b4c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */

a {
  text-decoration: none;
}
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  border-radius: 12px;
  background: var(---primary-color);
  color: #fff;
  text-align: center;
  font-weight: 500;
  font-size: 1.4rem;
}

.btn:hover {
  opacity: 0.9;
}

/* Header */
.header {
  background-color: #e6f0ff;
  height: 100vh;
  position: relative;
}

.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}

.navbar ul {
  display: flex;
  margin-left: 50px;
}

.navbar .actions {
  margin-left: auto;
}

.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}

.navbar ul a:hover {
  text-decoration: underline;
}

.navbar .action-link {
  color: var(---primary-color);
  font-size: 1.4rem;
  font-weight: 500;
}

.navbar .action-btn {
  padding: 13px 16px;
  margin-left: 18px;
  border-radius: 8px;
}

.hero {
  margin-top: 130px;
}

.hero .info {
  width: 50.3%;
}

.hero .sub-title {
  color: #687690;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.018rem;
}
.hero .title {
  margin-top: 8px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 1.19; /* 118.75% */
}

.hero .desc {
  margin-top: 30px;
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.78; /* 177.778% */
}

.hero-cta {
  margin-top: 40px;
  min-width: 170px;
}

.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0;
}

/* Clients */
.clients {
  margin-top: 122px;
  /* background-color: green; */
}

.clients .row {
  display: flex;
  justify-content: space-between;
}

.clients .desc {
  color: #7d8589;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25; /* 125% */
}

.clients .row-desc {
  margin-top: 23px;
}

.clients .images {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Guides */
.guides {
  margin-top: 200px;
}

.guides .sub-title {
  position: relative;
  color: #000339;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}

.guides .sub-title::before {
  position: absolute;
  content: "";
  border-radius: 12px;
  background: #000339;
  width: 41px;
  height: 4px;
  margin-top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.guides .desc {
  color: #5a6473;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  /* top: 20px, left, right: center, bottom: 0px */
  margin: 20px auto 0;
  width: 459px;
  /* Avoid horizontal scroll when the width < 459px */
  max-width: 100%;
}

.list-guide {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  /* gap: 140px; */
}

.guide-item {
  margin: 0 70px;
  text-align: center;
}
.guide-item .title {
  color: #3b3c45;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.1; /* 110% */
  margin-top: 26px;
}

.guide-item .link {
  color: #0689ff;
  font-size: 1.4rem;
  font-weight: 600;
  display: inline-block;
  margin-top: 10px;
}

.guide-item .arrow-right {
  margin-left: 6px;
}

.guide-cta {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.guide-cta .btn {
  min-width: 170px;
}

/* Featured Properties */
.featured {
  margin-top: 120px;
  padding: 110px 0;
  background: #f5fafe;
}

.featured .sub-title {
  color: #000339;
  font-size: 3.5rem;
  line-height: 1; /* 100% */
  /* padding-top: 110px; */
}

.featured .row {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.featured .desc {
  color: #5a6473;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.88; /* 187.5% */
}

.featured .link {
  display: flex;
  align-items: center;
  color: #0689ff;
  font-size: 1.8rem;
  font-weight: 600;
}

.featured .link .arrow {
  margin-left: 8px;
}

.featured .list {
  display: flex;
  gap: 30px;
  margin-top: 70px;
}

.featured .item {
  flex: 1;
  background-color: #fff;
  border-radius: 12px;
}

.featured .item .thumb {
  width: 100%;
  height: 227px;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.featured .item .body {
  margin: 17px 20px 24px;
}

.featured .item .title {
  font-weight: 600;
  font-size: 2rem;
  color: #000339;
  line-height: 1;
}

.featured .item .desc {
  margin-top: 11px;
  color: #a3a6ab;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
}

.featured .item .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}

.featured .item .icon {
  margin-left: 23px;
}

.featured .item .icon:first-child {
  margin-left: 0;
}

.featured .item .label {
  margin-left: 8px;
  color: #4d4d52;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.14px;
}

/* Temp */
main {
  height: 11000px;
}
